* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open {
    display: grid;
    grid-template-columns: 0 1fr;
}

.open.closed {
    grid-template-columns: 1fr 4fr;   
}

.content {
    height: 100vh;
    width: 100%;
}

.content {
    background-image: url(../../assets/images/contentBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lightblue;
}

.menuTrigger {
    width: fit-content;
    margin: 10px;
    border: 1px solid whitesmoke;

}

.menuTrigger svg {
    fill: whitesmoke;
    width: 2.5rem;
    cursor: pointer;
}

.menuTrigger.hidden {
    display: none;
}

.navBar {
    position: relative;
    background-color: whitesmoke;
    overflow: hidden;
}

.cancelMenu {
    position: absolute;
    right: 0;
    margin: 10px;
}

.cancelMenu svg {
    fill: gray;
    width: 2.5rem;
    cursor: pointer;
}

.logoDiv {
    width: 50%;
    height: 130px;
    margin: 60px auto;
}

.logoDiv img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: calc(2/2);
}

ul {
    margin-top: 30px;
}

ul li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: black;
    border-bottom: 2px solid white;
    padding: 10px 0 0 20px;
}


.titleDiv {
    position: fixed;
    left: 25%;
    top: 40%;
}

.titleDiv {
    max-width: 50%;
}

.titleDiv h1 {
    font-size: 3.5rem;
    color: blue;
    background-color: whitesmoke;
    opacity: 0.5;
    padding: 10px;
}

.titleDiv h2 {
    font-size: 1.5rem;
    padding: 30px 0 30px 10px;
    line-height: 40px;
}

.titleDiv .buttonDiv {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.buttonDiv button {
    width: 7rem;
    height: 3rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(100, 100, 236);
    cursor: pointer;
}

.buttonDiv button:nth-child(2) {
    color: red;
    background-color: whitesmoke;
    border: 1px solid;
    opacity: 0.5;
}

