* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open {
    display: grid;
    grid-template-columns: 0 1fr;
}

.open.closed {
    grid-template-columns: 1fr 4fr;   
}

.content {
    height: 100vh;
    width: 100%;
    border: 5px solid darkred;
}

.content {
    background-image: url(../../assets/images/contentBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lightblue;
}

.menuTrigger {
    width: fit-content;
    margin: 10px;
    border: 1px solid whitesmoke;

}

.menuTrigger svg {
    fill: whitesmoke;
    width: 2.5rem;
    cursor: pointer;
}

.menuTrigger.hidden {
    display: none;
}

.navBar {
    position: relative;
    background-color: aquamarine;
    overflow: hidden;
}

.cancelMenu {
    position: absolute;
    right: 0;
    margin: 10px;
}

.cancelMenu svg {
    fill: gray;
    width: 2.5rem;
    cursor: pointer;
}

.logoDiv {
    width: 50%;
    height: 130px;
    margin: 50px 50px;
}

.logoDiv img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: calc(2/2);
}

ul {
    margin-top: 30px;
}

ul li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: black;
    border-bottom: 1px solid black;
    padding: 10px 0 0 20px;
}
