.todoDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.cancel {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
}

.cancel svg {
    fill: gray;
    width: 2.5rem;
    cursor: pointer;
}

.contentTable {
    width: 70%;
    height: fit-content;
    border-collapse: collapse;
    margin: 50px 0;
    font-size: 1.3em;
}

.contentTable thead tr {
    background-color: rgb(98, 98, 233);
    font-weight: bold;
    text-align: left;
}

thead tr th,
tbody tr td {
    padding: 20px;
}

tbody tr {
    font-size: 1.1em;
    background-color: whitesmoke; 
    cursor: pointer;   
}

tbody tr:hover {
    background-color: blue;
    opacity: 0.5;
}

tbody tr:last-child {
    border-bottom: 3px solid  rgb(98, 98, 233);;
}

.todoDiv button {
    font-size: 1.2em;
    padding: 10px;
    margin-top: 20px;
    background-color: gray;
    color: whitesmoke;
    width: 30%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.todoDiv button:hover {
    background-color: rgb(103, 103, 223);
    color: gray;
}

/* styling form for adding todo */

.formDiv {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDiv form {
    width: 50%;
    height: auto;
    font-size: 1.3em;
    margin: 20px;
    border: 4px solid gray;
    border-radius: 20px;
}

.formDiv form label,
.formDiv form input {
    display: block;
    margin-bottom: 4px;
    margin-left: 15px;
    padding: 10px;
    border: none;
    width: 80%;
} 

.formDiv form label {
    margin-top: 30px;
}

.formDiv form input {
    border-radius: 20px;
    background-color: whitesmoke;
}

.formDiv form button {
    display: block;
    width: 60%;
    height: auto;
    margin: 30px auto;
    padding: 10px 0;
    font-size: 1em;
    background-color: grey;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}


/* ......................todoDialog....................... */

.projectListDiv dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    border: none;
    border-radius: 20px;
    background-color: rgb(182, 179, 179);
}