.todoDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.cancel {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
}

.cancel svg {
    fill: gray;
    width: 2.5rem;
    cursor: pointer;
}

.contentTable {
    width: 70%;
    height: fit-content;
    border-collapse: collapse;
    margin: 50px 0;
    font-size: 1.3em;
}

.contentTable thead tr {
    background-color: rgb(98, 98, 233);
    font-weight: bold;
    text-align: left;
}

thead tr th,
tbody tr td {
    padding: 20px;
}

tbody tr {
    font-size: 1.1em;
    background-color: whitesmoke;    
}

tbody tr:last-child {
    border-bottom: 3px solid  rgb(98, 98, 233);;
}

.todoDiv button {
    font-size: 1.2em;
    padding: 10px;
    margin-top: 20px;
    background-color: gray;
    color: whitesmoke;
    width: 30%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.todoDiv button:hover {
    background-color: rgb(103, 103, 223);
    color: gray;
}
