.scheduleDiv {
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 20px 40px 20px 10px;
}

.scheduleDiv h2 {
  margin: 30px auto;
  background-color: gray;
  text-align: center;
  font-size: 2em;
  padding: 25px;
}

.listWrapper {
  margin: 50px 30px 10px 30px;
}

.listWrapper .listHeader ol {
  margin: 30px 30px 50px 20px;
}

.listWrapper .listHeader ol li {
  margin-bottom: 10px;
  font-size: 1.5em;
}
